.navbar {
  background-color: var(--platinum);
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: solid 1px rgba(118, 108, 127, 0.03);
}

.navbar-header {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.navbar-brand {
  font-weight: bold;
  text-decoration: none;
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.navbar-brand img {
  height: 30px;
}

.navbar-nav {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav-item {
  margin-right: 48px;
}

.nav-link {
  color: var(--main-gray);
  text-decoration: none;
  font-family: var(--main-font);
  font-size: 1rem;
}

.nav-link:hover {
  color: var(--main-gray);
  text-shadow: 1px 1px 1px rgba(118, 108, 127, 0.1);
  filter: blur(1px);
  transition: 0.2s;
}

.navbar-toggler {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  display: none;
}

.navbar-toggler-icon {
  width: 20px;
  height: 20px;
}

@media (max-width: 600px) {
  .navbar-brand {
    display: none;
  }

  .navbar-logo {
    display: inline-block; /* Added */
    height: 30px; /* Added */
    margin-right: 10px; /* Added */
  }

  .navbar-toggler {
    display: flex;
  }

  .navbar-collapse {
    display: none;
  }

  .navbar-collapse.show {
    display: block;
    position: absolute;
  }

  .navbar-nav {
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--main-gray);
    padding: 10px;
    margin-top: 10px;
  }

  .navbar-nav .nav-item {
    margin-right: 0;
    margin-bottom: 5px;
  }
}

.dropdown {
  position: relative;
}

.dropdown .dropbtn {
  border: none;
  outline: none;
  color: var(--main-gray);
  background-color: var(--platinum);
  font-size: 1rem;
  font-family: var(--main-font);
  margin-right: 48px;
}

.dropbtn:hover {
  filter: blur(1px);
}

.dropdown .dropdown-content {
  position: absolute;
  border-radius: 15px;
  top: 100%;
  right: 0;
  width: 90vw;
  height: 85vh;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  opacity: 0; /* Set initial opacity to 0 */
  transition: opacity 0.6s, transform 0.6s, max-height 0.6s; /* Add transition for opacity, transform, and max-height */
  transform: translateY(
    10px
  ); /* Move the content down slightly to hide it initially */
  font-family: var(--main-font);
  max-height: 0; /* Set initial max-height to 0 */
  overflow: hidden; /* Hide the content that overflows the max-height */
}

.dropdown .dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  transition: 0.6s;
  display: block;
  color: var(--main-gray);
}

.dropdown .dropdown-content a:hover {
  color: var(--main-gray);
  text-shadow: 1px 1px 1px rgba(118, 108, 127, 0.1);
  transition: 0.2s;
  transform: scale(1.5);
  margin-left: 30vw;
}

.dropdown:hover .dropdown-content {
  opacity: 1;
  transform: translateY(0); /* Move the content back up to show it */
  max-height: 1000px; /* Set a value larger than the expected content height */
}
